@page
@model TheBakeryApp.Pages.Cliente.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detailhes do Cliente </h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Fidelizado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Fidelizado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Pontos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Pontos)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a Lista</a>
</div>
